@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Session["Groupe"].ToString().Equals("OPERATEUR"))
{
       @Html.AntiForgeryToken()
        
        <li class="btn-group nav">
            <button type="button" class="btn navbar-btn" style="background-color:Highlight">Opération</button>
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li> @Html.ActionLink("Défaillance", "EnvoyerMessage", "Operateur")</li>
            </ul>
        </li>  
}